<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/sanje/OneDrive/Desktop/Test Selenium/com.github.testpractice/src/test"><classes><class name="com.crm.qa.testcases.HomePageTest"><methods><include name="validateTitle"/><include name="searchAndSelectDropdownTest"/><include name="searchRepository"/><include name="navigateRepositoryPage"/></methods></class><class name="com.crm.qa.testcases.LoginPageTest"><methods><include name="loginErrorTest"/><include name="loginTest"/></methods></class><class name="com.crm.qa.testcases.RepositoriesPageTest"><methods><include name="repositoryLinkCountTest"/></methods></class></classes></test></suite>